body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: 80px auto 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 10%;
    max-width: 60px;
}

/* PROJECTS SECTION */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project {
    width: calc(50% - 10px);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project h3 {
    margin: 0;
    font-size: 1.2em;
}

.project a {
    text-decoration: none;
    color: #0073e6;
}

.project a:hover {
    text-decoration: underline;
}

.project img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
